body{
  font-family: 'Raleway';
}
.box{
  border-style: solid;
  border-color: black;
  height:100px;
  background-color: white;
}
#tigerImage{
  width:80%;
  display:none;
  /* visibility: hidden; */
}
#goatImage{
  width:50%;
}

/* .image{
  text-align: center;
  /* display:none; */
} */

#result{
  text-align: center;
}

#reset{
  width:50%;
  font-size:25px;
}
#level{
  width:50%;
  font-size:25px;
}
.resetbtn{
  margin-bottom:10px;
}

#life{
  background-color: red;
  margin-left:2px;
  font-size:20px;
  height:100px;
}
#goatsOnBoard{
  background-color: purple;
  margin-left:2px;
  font-size:20px;
  height:100px;
}
